@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700,800&display=swap");
@import url("https://css.gg/css");
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #272733;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  display: block;
  position: fixed;
  padding: 25px 0;
  width: 100%;
  background-color: rgba(16, 16, 29, 0.9);
  z-index: 90;
}

.header .navbar {
  padding: 0;
}

@media screen and (max-width: 991px) {
  .header .navbar {
    position: inherit;
  }
}

.header .navbar .navbar-logo {
  display: inline-block;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .header .navbar .navbar-logo {
    display: block;
  }
}

.header .navbar .navbar-logo h1 {
  font-size: 28px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.header .navbar .navbar-logo h1 span {
  color: #3e9cdc;
}

.header .navbar .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.header .navbar .navbar-nav .navbar__item {
  position: relative;
}

.header .navbar .navbar-nav .navbar__item .navbar__link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  text-align: right;
  padding: 15px 20px;
  text-transform: uppercase;
}

.header .navbar .navbar-nav .navbar__item:hover .navbar__link {
  color: #3e9cdc;
}

.banner {
  position: relative;
  min-height: 850px;
  width: 100%;
  background: url(../img/banner/banner.jpg) no-repeat;
  background-size: cover;
  z-index: 10;
}

.banner .banner__content .banner__title {
  color: #272733;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  margin-top: 244px;
  margin-bottom: 75px;
  text-transform: uppercase;
}

.banner .banner__content .banner__title span {
  color: #3e9cdc;
}

@media screen and (max-width: 991px) {
  .banner .banner__content .banner__title {
    font-size: 28px;
    line-height: 44px;
  }
}

@media screen and (max-width: 479px) {
  .banner .banner__content .banner__title {
    font-size: 20px;
    line-height: 34px;
  }
}

.banner .banner__content .banner__paragraph {
  color: #2a2b30;
  font-size: 20px;
  line-height: 20px;
}

.banner .banner__content .banner-button .btn {
  display: inline-block;
  padding: 0 48px;
  margin-top: 80px;
  color: #2a2b30;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 13px;
  line-height: 42px;
  border: 1px solid #6f6d7b;
  text-align: center;
  text-transform: uppercase;
}

.banner .banner__content .banner-button .btn:hover {
  color: #ffffff;
  background-color: #3e9cdc;
  border-color: #ffffff;
}

.banner .banner__content .banner-button .btn__left {
  margin-left: 20px;
}

.checkout-section {
  padding: 100px 0;
  color: #ffffff;
}

.checkout-section .checkout__inf {
  padding-top: 20px;
  padding-bottom: 80px;
}

.checkout-section .checkout__inf .checkout__title {
  margin-bottom: 20px;
  font-size: 36px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  text-align: center;
}

.checkout-section .checkout__inf .checkout__title span {
  color: #3e9cdc;
}

.checkout-section .checkout__inf p {
  color: #bbbbbb;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 80px;
}

.checkout-section .checkout-features__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border: 5px solid #286690;
  border-radius: 50px;
  background-color: #3e9cdc;
  margin: auto;
}

.checkout-section .checkout-features__box i {
  font-size: 36px;
  color: #ffffff;
  position: absolute;
}

.checkout-section .checkout-features__box:first-child {
  padding-left: 0;
}

.checkout-section .checkout-features__box:last-child {
  padding-right: 0;
}

.checkout-section .checkout-features__paragraph {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  word-break: break-all;
}

.checkout-section .work-dots {
  font-size: 6px;
  color: #bbbbbb;
  margin-top: 40px;
}

.checkout-section .work-dots i {
  padding-right: 15px;
}

.checkout-section .work-dots i:last-child {
  padding-right: 0;
}

@media screen and (max-width: 991px) {
  .checkout-section .work-dots {
    display: none;
  }
}

.checkout-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50%;
  background: url(../img/checkout/map.png) no-repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}

.form .form-control {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  display: block;
  width: 350px;
  height: 48px;
  font-size: 18px;
  line-height: 34px;
  color: #272733;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.form .form-control::-webkit-input-placeholder {
  color: #272733;
}

.form .form-control:-ms-input-placeholder {
  color: #272733;
}

.form .form-control::-ms-input-placeholder {
  color: #272733;
}

.form .form-control::placeholder {
  color: #272733;
}

.form .form-control:hover, .form .form-control:focus {
  color: #ffffff;
  background-color: #3d4050;
  border: none;
}

.form .form-control .list {
  color: #ffffff;
  background-color: rgba(39, 39, 51, 0.9);
  width: inherit;
  border: 1px solid #3d4050;
  font-size: 18px;
  line-height: 34px;
}

@media screen and (max-width: 767px) {
  .form .form-control {
    font-size: 13px;
  }
}

.form .form-input {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  padding-left: 18px;
  display: block;
  width: 350px;
  height: 48px;
  font-size: 18px;
  line-height: 34px;
  color: #272733;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.form .form-input::-webkit-input-placeholder {
  color: #272733;
}

.form .form-input:-ms-input-placeholder {
  color: #272733;
}

.form .form-input::-ms-input-placeholder {
  color: #272733;
}

.form .form-input::placeholder {
  color: #272733;
}

@media screen and (max-width: 767px) {
  .form .form-input {
    font-size: 13px;
  }
}

.form .nice-select::after {
  height: 10px;
  width: 10px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.form .nice-select .list {
  border-radius: 0px;
  height: 200px;
  overflow-y: auto;
}

.form .nice-select .list::-webkit-scrollbar {
  width: 7px;
  background-color: #3d4050;
}

.form .nice-select .list::-webkit-scrollbar-thumb {
  background-color: #3e9cdc;
  height: 53px;
  border-radius: 3px;
}

.form .nice-select .option:hover {
  background-color: transparent;
  color: #3e9cdc;
}

.form .nice-select .option.focus, .form .nice-select .option.selected.focus, .form .nice-select .option:hover {
  background-color: transparent;
}

.range-slider {
  width: 100%;
  position: relative;
}

.range-slider .range-slider__range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  border-radius: 3px;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.range-slider .range-slider__range:hover {
  border: 2px solid #ffffff;
}

.range-slider .range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  background: #42a9ed;
  border-radius: 12px;
  cursor: pointer;
}

.range-slider .range-slider__range::-webkit-slider-thumb:hover {
  border: 3px solid #286690;
}

.range-slider .value-wrapper__text {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.range-slider .range-slider__value {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin-left: 340px;
  display: inline-block;
  margin-top: 16px;
}

.range-slider span {
  font-weight: 600;
}

.upload-btn-wrapper {
  margin-top: 26px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  width: inherit;
  height: 48px;
  border: 1px solid #ffffff;
  color: #272733;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 8px 20px;
  border-radius: 3px;
  font-size: 18px;
  text-transform: uppercase;
}

.btn i {
  font-size: 20px;
  color: inherit;
  padding-right: 14px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #3e9cdc;
}

@media screen and (max-width: 767px) {
  .btn {
    font-size: 13px;
  }
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.main-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.main-btn .btn:hover {
  color: #ffffff;
  background-color: #3e9cdc;
  border-color: #ffffff;
}

.footer {
  width: 100%;
  height: 80px;
  display: inline-block;
  background-color: #3d4050;
  border: 1px solid #eeeeee;
  color: #ffffff;
}

.footer .text-wrap {
  width: 100%;
  max-height: 27px;
  margin-top: 34px;
  line-height: 21px;
}

.footer .text-delimiter {
  border-right: 1px solid;
}

.footer .copyright {
  float: left;
  font-size: 13px;
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .social {
  position: relative;
  font-size: 13px;
  color: #c3c3c3;
}

.footer .social a {
  text-decoration: none;
  color: #c3c3c3;
  margin: 0 10px;
}

.footer .social a i {
  padding: 4px 4px;
  color: #3e9cdc;
}

.footer .contacts {
  padding-left: 0;
  margin-bottom: 0;
}

.footer .contacts li {
  display: inline-block;
  margin-bottom: 4px;
}

.footer .contacts a {
  text-decoration: none;
  color: #c3c3c3;
  margin-left: 6px;
  font-size: 13px;
}

.footer .contacts a i {
  margin-right: 7px;
  color: #3e9cdc;
}
